 
  .button-style {
    background-color: green;
    color: white;
    border:none;
    padding:10px 20px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .input-style{
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    flex-grow: 1;
  }
  .chat-input-style{
    display:flex;
    width:100%;
    margin-bottom: 50px;
  }
  .app-style{
    max-width:600px;
    margin:auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .chat-user-style{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  } 
  .chat-robot-style{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
  }
  
  .chat-message-style{
    background-color: rgb(241, 235, 235);
    display: inline-block;
    padding: 10px 13px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
  }
  .chat-messages-style{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 15px;
  }
  .img-style{
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }